
    body {background-color: #e76f51;
        text-align: left;  }
   h1{text-align: center;}
   
   nav {
    
    
    background-color: none;
    text-align: center;
  }
  
  a {
    
    color: #000;
    padding: 0px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  a:hover {
   
    
    color: white;
  }