body{ background-color: #86A397;
    font-style: normal;
    color: #000000;
   
}

/*h{
    text-align: center;
    font-size: xx-large;
    color:#000000;
    position:relative; top:2px; left:2px; margin-left:2px; margin-right:2px;

}
*/
.title{
  font-weight: bolder;
  font-size: 40px;
 text-decoration-line: underline;
     text-decoration-style: wavy;
     line-height: 2.5;

  
}

.dates{
  font-weight: bolder;
  font-size: 20px;
}
 
